{% extends "base_generic.html" %} 

{% block title %}Livres{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/books_authors_list.css' %}">
{% endblock %}

{% block content %}
<main>
<h1>Livres</h1>
{% if books_list %}
<div>
  <form>{% csrf_token %}</form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"><button class="search-filter">Titre</button></th>
        <th scope="col"><button class="search-filter">Auteur</button></th>
        {% if perms.can_change_book and perms.can_delete_book %}
        <th scope="col">Mettre à jour</th>
        <th scope="col">Supprimer</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for book in books_list %}
      <tr>
        <td><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></td>
        <td><a href="{% url 'author-detail' book.author.id %}">{{ book.author }}</a></td>
        {% if perms.can_change_book and perms.can_delete_book %}
        <td><a href="{% url 'book-update' book.pk %}">Mettre à jour</a></td>
        <td><a href="{% url 'book-delete' book.pk %}">Supprimer</a></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<p>There are no books in the library.</p>
{% endif %}
</main>
{% endblock %}

{% block js %}
  {% load static %}
  <script src="{% static 'js/book_list_filters.js' %}"></script>
{% endblock %}
