<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>{% block title %}{{APP_NAME}}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token }}" />
    <meta name="description" content="Bibliothèque numérique.">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base_generic.css' %}">
    {% block css %}{% endblock %}
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div id="navbar-container" class="d-flex justify-content-lg-center justify-content-between">
          <nav class="navbar navbar-expand-lg align-items-start">
            <div class="container-fluid p-0 flex-lg-column h-100">
              <a id="navbar-brand" href="/"><span>Bibliothèque</span>Numérique</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse flex-column -justify-content-between w-100" id="navbarNav">
                <ul class="navbar-nav d-flex flex-lg-column w-100">
                  <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Accueil</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'books' %}">Livres</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'authors' %}">Auteurs</a></li>
                  {% if user.is_authenticated %}
                  <li class="nav-item"><a class="nav-link" href="{% url 'my-borrowed' %}">Mes emprunts</a></li>
                  {% endif %}
                  {% if perms.catalog.can_add_author %}
                  <li class="border-top my-3"></li>
                  <li class="mb-4">
                    <button class="btn btn-toggle nav-link align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#create-collapse" aria-expanded="false">
                    Créer
                    </button>
                    <div class="collapse" id="create-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li class="nav-item"><a class="nav-link" href="{% url 'user-create' %}">Utilisateur</a></li>
                        <li class="nav-item"><a class="nav-link rounded" href="{% url 'author-create' %}">Auteur</a></li>
                        <li class="nav-item"><a class="nav-link rounded" href="{% url 'book-create' %}">Livre</a></li>
                        <li class="nav-item"><a class="nav-link rounded" href="{% url 'book_instance-create' %}">Book instance</a></li>
                        <li class="nav-item"><a class="nav-link rounded" href="{% url 'genre-create' %}">Genre</a></li>
                      </ul>
                    </div>
                  </li>
                  {% endif %}
                </ul>
                <div id="login-container">
                  {% if user.is_authenticated %}
                  <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="nav-link button">Déconnexion</button>
                  </form>
                  {% else %}
                  <!-- Le next s'ajoute à l'URL comme un paramètre. Il récupère le chemin depuis lequel l'utilisateur a cliqué et le renvoie dessus après coup -->
                  <a class="nav-link button" href="{% url 'login' %}?next={{ request.path }}">Connexion</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </nav>
        </div>
        <div id="page-container">
          {% if messages %}
          <aside>
          {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
              {{ message }}
            </div>
          {% endfor %}
          </aside>
          {% endif %}
          {% block content %}
          {% endblock %}
          {% if is_paginated %}
          <aside>
            <nav class="nav-pagination">
              <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page=1">
                  First
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                  Previous
                  </a>
                </li>
                {% endif %}
                {% for page_number in page_obj.paginator.page_range %}
                {% if page_number <= page_obj.number|add:3 and page_number >= page_obj.number|add:-3 %}
                {% if page_obj.number == page_number %}
                <li class="page-item active">
                  {% else %}
                <li class="page-item">
                  {% endif %}
                  <a class="page-link" href="?page={{ page_number }}">
                  {{ page_number }}
                  </a>
                </li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                  Next
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                  Last
                  </a>
                </li>
                {% endif %}
              </ul>
            </nav>
          </aside>
          {% endif %}
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{% static 'js/active_page.js' %}"></script>
    {% block js %}{% endblock %}
  </body>
</html>
