{% extends "base_generic.html" %}

{% block css %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
  <h1>Accueil de la bibliothèque locale</h1>
  <p>Bienvenue à la bibliothèque locale, un site web basé sur le travail de <em>Mozilla Developer Network</em>!</p>
  <h2>Contenu dynamique</h2>
  <p>La bibliothèque dispose des enregistrements suivants:</p>
  <ul>
    <li><strong>Livres:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies disponibles:</strong> {{ num_instances_available }}</li>
    <li><strong>Auteurs:</strong> {{ num_authors }}</li>
  </ul>

  <!-- pluralize rajoute un s à la fin si la valeur est différente de 1. -->
  <p class="counter">
    You have visited this page {{ num_visits }} time{{ num_visits|pluralize }} {{ user }}.
  </p>
{% endblock %}
