{% extends "base_generic.html" %}

{% block css %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<main>
  <h1>Éditions Libérées</h1>
  <p>Accédez aux classiques du domaine public !</p>
  <div id="search-container">
    <form class="search-bar form-inline d-flex">
      {% csrf_token %}
      <input class="form-control mr-sm-2" name="search" type="search" placeholder="Rechercher un livre" aria-label="Search">
    </form>
    <div id="search-results"></div>
  </div>
  <h2>La bibliothèque dispose des enregistrements suivants :</h2>
  <ul>
    <li><strong>Livres:</strong> {{ num_books }}</li>
    <li><strong>Exemplaires :</strong> {{ num_instances }}</li>
    <li><strong>Exemplaires disponibles:</strong> {{ num_instances_available }}</li>
    <li><strong>Auteurs:</strong> {{ num_authors }}</li>
  </ul>
</main>
{% endblock %}

{% block js %}
  {% load static %}
  <script src="{% static 'js/search_book.js' %}"></script>
{% endblock %}
