@media (prefers-color-scheme: dark) {
  :root {
    --font-color: white;
    --bg-color: rgb(52,58,64);
    --separator-color: rgb(248,249,250);
  }
  
  html, body {
    background-color: rgb(52,58,64, 0.7);
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  .nav-link, .user-div {
    color: rgb(255, 255, 255, 0.5);
  }

  .navbar-brand, .nav-link.active {
    color: rgb(255, 255, 255, 1)!important;
  }

  .table tbody {
    background-color: rgb(52,58,64);
  }
  
  .table td {
    color: white;
    background-color: transparent;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: rgb(248,249,250);
    --h1-color: rgb(52,58,64);
    --separator-color: rgb(52,58,64);
  }

  .user-div {
    color: rgb(0, 0, 0, 0.5);
  }
}

@media (max-width: 991px) {
  body .container-fluid > .row > div:first-child {
    height: fit-content;
  }
  
  body .container-fluid > .row > div:first-child, body .container-fluid > .row > div:last-child {
    width: 100%;
  }
  
  .navbar {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container-fluid, body .container-fluid > .row {
    height: 100%;
  }
  
  .navbar {
    width: fit-content;
  }

  .button {
    min-width: 150px;
  }
  
  .user-div {
    position: absolute;
    text-align: center;
  }
}

@media (min-width: 991px) and (max-width: 1024px) {
  body .container-fluid > .row > div:first-child {
    width: 25%;
  }

  body .container-fluid > .row > div:last-child {
    width: 75%;
  }
}

@media (min-width: 1025px) {
  body .container-fluid > .row > div:first-child {
    width: 20%;
  }

  body .container-fluid > .row > div:last-child {
    width: 80%;
  }
}

html, body {
  height: 100%;
  font-size: 105%;
  color: var(--font-color);
}

.form-control:focus {
  box-shadow: none;
}

body .container-fluid > .row > div:first-child {
  background-color: var(--bg-color);
}

body .container-fluid > .row > div:last-child {
  overflow: hidden;
}

h1 {
 color: var(--h1-color) 
}

a {
  color: inherit;
}

ul > .nav-item > .nav-link {
  padding-left: 0!important;
  padding-top: 1rem;
}

.btn-toggle {
  padding-left: 0!important;
}
.nav-pagination {
  position: absolute;
  bottom: 0;
}

table {
  border: 2px solid
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

h2, h3, h4, h5, h6 {
  padding: 0.5rem 0 0.5rem 0;
  font-weight: 300;
}

h1 {
  font-weight: 400;
}

.button {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 45px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:focus {
  color: #171e29;
}

.button:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.separator {
  height: 0;
  width: 80%;
  margin: 0 10% 0 10%;
  border: 2px solid;
}

.logo {
  font-weight: bold;
}

.user-div {
  bottom: 5%;
}

.user-div > a {
  background-color: indianred;
  color: white;
}