@media (min-width: 992px) {
  .container-fluid > .row {
    height: 100%;
  }
}

html, body, body > .container-fluid {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

a.active::after {
  content: "•";
  margin-left: 5%;
  color: green;
}

.page-link {
  color: black;
}

.active>.page-link, .page-link.active {
  background-color: black;
  color: white;
}

.button {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 45px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:focus {
  color: #171e29;
}

.button:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button {
    min-width: 150px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.2;
}

.logo {
  font-weight: bold;
}

div:has(> nav) {
  background-color: whitesmoke;
}

.navbar {
  height: 100%;
}

.user-div {
  position: absolute;
  bottom: 5%;
}