@media (max-width: 991px) {
  #page-container > main.row > .col:last-child {
    margin-top: 10%;
  }

  .book-aside > .button {
    margin: 5% auto;
  }
}

@media (min-width: 992px) {
  #page-container > main.row {
    min-height: 100%;
  }

  .book-aside > .button {
    margin: 2% auto;
  }
}

h1, h3 {
  text-transform: uppercase;
}

#page-container > main.row {
  flex-direction: column;
}

#detail-card {
  margin: 1% auto;
  padding: 0.5rem;
  text-align: center;
  background-color: var(--card-bg);
  border: 5px solid var(--card-border-color);
  border-radius: 5px;
  filter: drop-shadow(-5px 30px 0px rgb(0, 0, 0, 0.1));
}

#page-container > main.row > .col:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* CSS spécifique à la page d'un livre */
.book-instance {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.book-instance > div {
  width: 50%;
}

.book-status > div {
  width: fit-content;
  margin: auto;
  padding: 2%;
  border-radius: 50px;
  color: white;
  font-weight: bold;
}

.book-aside {
  height: fit-content;
  padding: 2%;
  border-radius: 50px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}