@media (max-width: 991px) {
  body .container-fluid > .row > div:last-child > .row > .col:last-child {
    margin-top: 10%;
  }
}

@media (min-width: 992px) {
  body .container-fluid > .row > div:last-child > .row {
    height: 100%;
  }
}

body .container-fluid > .row > div:last-child > .row {
  flex-direction: column;
}

body .container-fluid > .row > div:last-child > .row > .col:first-child {
  box-shadow: var(--separator-color) -20px 20px 0px;
}

body .container-fluid > .row > div:last-child > .row > .col:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1, h3 {
  text-transform: uppercase;
}

h3 {
  margin: 0;
  text-align: center;
}

table {
  text-align: center;
}

.book-instance {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.book-instance > div {
  width: 50%;
}

.book-status > div {
  width: fit-content;
  margin: auto;
  padding: 2%;
  border-radius: 50px;
  color: white;
  font-weight: bold;
}

.book-aside {
  height: fit-content;
  padding: 2%;
  border-radius: 50px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}