h1,
h3 {
  text-transform: uppercase;
}

#page-container > main.row {
  flex-direction: column;
}

#detail-card {
  margin: 1% auto;
  padding: 0.5rem;
  text-align: center;
  background-color: var(--card-bg);
  border: 5px solid var(--card-border-color);
  border-radius: 5px;
  filter: drop-shadow(5px 5px 0px rgba(0, 0, 0, 0.1));
}

.book-status {
  width: fit-content;
  margin: auto;
  padding: 5px 10px;
  white-space: nowrap;
  border-radius: 50px;
  color: white;
  font-weight: bold;
}

.login {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

#page-container > main.row > .col:last-child {
  margin-top: 10%;
  overflow: auto;
}

#page-container > main.row > .col:last-child > h3 {
  text-align: center;
}

.book-aside > .button {
  margin: 5% auto;
}

@media (min-width: 992px) {
  #page-container > main.row {
    min-height: 100%;
  }

  #page-container > main.row > .col:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .book-aside > .button {
    margin: 2% auto;
  }
}
