main h1,
main p {
  text-align: center;
}

h1 + p {
  margin-top: -1rem;
  margin-bottom: 3rem;
}

#search-container ~ * {
  transition: filter 0.5s, opacity 1s;
}

#search-container {
  position: relative;
  z-index: 2;
  margin-bottom: 1rem;
}

#search-results {
  position: absolute;
  width: 100%;
  margin-top: 1%;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
}

#search-results > table {
  margin: 0;
}

.search-result {
  padding: 1%;
}

#counter {
  position: absolute;
  bottom: 0;
}

@media (min-width: 992px) {
  h1 + p {
    margin-bottom: 4rem;
  }
}