.search-container {
  position: relative;
  margin-bottom: 1rem;
}

.search-results {
  position: absolute;
  width: 100%;
  margin-top: 1%;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid;
  opacity: 0;
  transition: all 1s;
}

.search-results > table {
  margin: 0;
}

.search-result {
  padding: 1%;
}

.counter {
  position: absolute;
  bottom: 0;
}